td.ra {
    text-align: right;
}

body[class='screen'] {
    position: fixed;
    width: 100%;
    max-width: 850px;
    left: 50%;
    transform: translate(-50%, 0);
}

body[class='form'] {
    position: fixed;
    width: 100%;
    max-width: 240px;    
    left: 50%;
    transform: translate(-50%, 0);
}

article {
    width: 100%;
}

aside {
    /*position: absolute;
    left: 850px;
    top: 0px;*/
}

form .entry {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 32px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
}

form .entry, focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}


/*buttons thanks to http://jsfiddle.net/volcanicpixels/udXXA/*/

.button {
    border-radius: 8px;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 5px 5px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
    text-shadow: 0 1px 0 #c4d0da;
    outline: none;
}

.button:hover {
    background: #97adbd;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#97adbd), to(#a8bac8));
    background: -moz-linear-gradient(#97adbd, #a8bac8);
    background: linear-gradient(#97adbd, #a8bac8);
    border: solid 1px #96a2ab;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #c0ced7; }
    
.button:active {
    background: #8fa6b6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8fa6b6), to(#8aa0b0));
    background: -moz-linear-gradient(#8fa6b6, #8aa0b0);
    background: linear-gradient(#8fa6b6, #8aa0b0);
    border: solid 1px #606f7a;
    box-shadow: inset 0 10px 15px 0 #7e92a1; }

.btnok {
    margin: 10px 0 0 0;
    font: bold 18px Arial, Helvetica, Clean, sans-serif;
    background: #4a7746;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4a7746), to(#335d30));
    background: -moz-linear-gradient(#4a7746, #335d30);
    background: linear-gradient(#4a7746, #335d30);
    border: solid 1px #1b3013;
    border-bottom: solid 3px #0a1608;
    box-shadow: inset 0 0 0 1px #53864f;
    color: #142413;
    text-shadow: 0 1px 0 #4b7b47; }
    
.btnok:hover {
    background: #335d30;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#335d30), to(#4a7746));
    background: -moz-linear-gradient(#335d30, #4a7746);
    background: linear-gradient(#335d30, #4a7746);
    border: solid 1px #1b3013;
    border-bottom: solid 3px #0a1608;
    box-shadow: inset 0 0 0 1px #53864f; }
    
.btnok:active {
    background: #335d30;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#335d30), to(#4a7746));
    background: -moz-linear-gradient(#335d30, #4a7746);
    background: linear-gradient(#335d30, #4a7746);
    border: solid 1px #1b3013;
    box-shadow: inset 0 10px 15px 0 #294a16; }

.btncancel {
    margin: 10px 0 0 0;
    font: bold 18px Arial, Helvetica, Clean, sans-serif;
    background: #f97779;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f97779), to(#ce2424));
    background: -moz-linear-gradient(#f97779, #ce2424);
    background: linear-gradient(#f97779, #ce2424);
    border: solid 1px #be2424;
    border-bottom: solid 3px #bd2524;
    box-shadow: inset 0 0 0 1px #e67e7b;
    color: #fff;
    text-shadow: 0 1px 0 #bd2524; }
    
.btncancel:hover {
    background: #ce2424;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ce2424), to(#f97779));
    background: -moz-linear-gradient(#ce2424, #f97779);
    background: linear-gradient(#ce2424, #f97779);
    border: solid 1px #be2424;
    border-bottom: solid 3px #bd2524;
    box-shadow: inset 0 0 0 1px #e67e7b; }
    
.btncancel:active {
    background: #ce2424;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#ce2424), to(#f97779));
    background: -moz-linear-gradient(#ce2424, #f97779);
    background: linear-gradient(#ce2424, #f97779);
    border: solid 1px #be2424;
    box-shadow: inset 0 10px 15px 0 #bd2524; }
    