td.ra {
    text-align: right;
}

.button {
    border-radius: 8px;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 0 5px 5px 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
    text-shadow: 0 1px 0 #c4d0da;
    outline: none;
}

.btn_ok {
    width: 240px;
    border-radius: 8px;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
    text-shadow: 0 1px 0 #c4d0da;
    outline: none;
}

.btn_cancel {
    width: 100%;
    max-width: 240px;
    border-radius: 8px;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    margin: 10px 0 0 0;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
    text-shadow: 0 1px 0 #c4d0da;
    outline: none;
}

body[class='screen'] {
    position: fixed;
    width: 100%;
    max-width: 850px;
    left: 50%;
    transform: translate(-50%, 0);
}

body[class='form'] {
    position: fixed;
    width: 100%;
    max-width: 240px;    
    left: 50%;
    transform: translate(-50%, 0);
}

article {
    width: 100%;
}

aside {
    /*position: absolute;
    left: 850px;
    top: 0px;*/
}

input {
    position: sticky;
    width: 100%;
    max-width: 240px;
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 32px;
    border:1px solid #ecf0f1;
    background:#ecf0f1;
    /*padding:5px;
    display: inline-block !important;
    visibility: visible !important;*/
}

input, focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
